@page
@model FahrenheitApp.Pages.TemperatureModel
@{
}

<div>

    <h1>Temperature Conversion</h1>

    <form name="bookForm" id="bookForm" method="post">

        Temperature [Celsius]:
        <br />
        <input name="TemperatureCelsius" type="number" class="form-control input-lg" autofocus required value="@Model.temperatureCelsius" />
        <br />


        Temperature [Fahrenheit]:
        <br />
        <input name="TemperatureFahrenheit" type="number" class="form-control input-lg" value="@Model.temperatureFahrenheit" disabled />
        <br />


        <input id="ConvertButton" type="submit" value="Convert" class="btn btn-info" />

    </form>

    
</div>